<%- include('components/header') %>
<div class="container section">
  <h1 class="title">Mobius Centralised Operations</h1>
  <p>You are either here because you were told to come here, or you are snooping around. If it is the latter, please kindly go away.</p>
</div>
<%- include('components/footer') %>