<%- include('../components/header') %>
<script src="/static/recaptcha.validator.js"></script>
<div class="columns login-hero">
  <div class="column is-1 level flat">
  </div>
  <div class="column is-5 level">
    <h1 class="title is-1 login-hero-title">Silly Goose </h1>
    <h2 class="subtitle is-3">You forgot your password</h2>
  </div>
  <div class="column login-form">
    <div class="container">
      <form action="/admin/password_reset_email/user" method="get">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input class="input" name="username" type="text" placeholder="">
          </div>
        </div>

        <div class="g-recaptcha" data-theme="dark" data-sitekey="<%= recaptcha_key %>" data-callback="recaptchaCallback"></div>
        <br />
        <div class="field is-grouped">
          <div class="control">
            <input id="submit-button" value="Send Reset email" type="submit" class="button is-link"></input>
          </div>
          <div class="control">
            <a class="button" href="/login">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="column is-1 level">
  </div>
</div>

<%- include('../components/footer') %>