<%- include('/components/header') %>
<div class="columns login-hero">
  <div class="column login-form">
    <form action="/admin/flags/create" method="post" id="form">
      <div class="container">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input class="input" type="text" placeholder="A unique name" name="name" id="form-name">
          </div>
          <p class="help" id="form-name-help" hidden="true"></p>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <input class="input" type="text" placeholder="Describe this flag" name="description" id="form-description">
          </div>
          <p class="help" id="form-username-help" hidden></p>
        </div>

        <div class="field">
          <label class="label">Permissions</label>
          <div class="control">
            <input class="input" name="permissions" type="permissions" placeholder="csv permissions" id="form-permission">
          </div>
          <p class="help" id="form-email-help" hidden></p>
        </div>

        
        <div class="field">
          <label class="label">Joinable</label>
          <div class="control">
            <input class="checkbox" name="members" type="joinable" placeholder="Members" id="form-joinable" value="<%= flag.joinable ? flag.joinable : false%>">
          </div>
        </div>

        <div class="field">
          <label class="label">Join Codes</label>
          <div class="control">
            <input class="input" name="joinCodes" type="joinCodes" placeholder="csv join codes" id="form-joinCodes" value="<%= (flag.joinCodes ? flag.joinCodes : []).join(", ")%>">
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <input id="submit-button" value="Submit" type="submit" class="button is-link"></input>
          </div>
          <div class="control">
            <button class="button">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <script src="/js/bundle-signup.js"></script> -->
<%- include('/components/footer') %>